@{
    ViewBag.Title = "Patterned Pomegranate: About";
    ViewBag.PageId = "aboutPage";
    Layout = "layout.cshtml";
}

<h1 class="shop-page-title">About Patterned Pomegranate</h1>

<div class="row">
  <div class="col-sm-6 col-md-4 article">
    <img class="img-responsive" alt="Picture of Kelly" src="/include/profile.jpg">
    <div class='clearfix'></div>
    <p class="bio-caption">Kelly</p>
    <p>Email: <a href="mailto:patternedpomegranate@gmail.com">patternedpomegranate@gmail.com</a>
    <br>
    Blog: <a href="/blog/">www.patternedpom.com/blog/</a>
    </p>
  </div>

  <div class="col-sm-6 col-md-8 article">
    @Raw(ViewBag.FileData.GetMarkdownHTML("about/about.md"))
    <div class='clearfix'></div>
  </div>

</div>

<div class="row">
  <div class="col-md-6 article">
    @Raw(ViewBag.FileData.GetMarkdownHTML("about/FAQ.md"))
    <div class='clearfix'></div>
  </div>

  <div class="col-md-6 article" id="policies-link">
    @Raw(ViewBag.FileData.GetMarkdownHTML("about/policies.md"))
    <div class='clearfix'></div>
  </div>
</div>
