{{PAGE_HEADER}}

<h1 class="shop-page-title">About Patterned Pomegranate</h1>

<div class="row">
  <div class="col-sm-6 col-md-4 article">
    <img class="img-responsive" alt="Picture of Kelly" src="/include/profile.jpg">
    <div class='clearfix'></div>
    <p class="bio-caption">Kelly</p>
    <p>Email: <a href="mailto:patternedpomegranate@gmail.com">patternedpomegranate@gmail.com</a>
    <br>
    Blog: <a href="/blog/">www.patternedpom.com/blog/</a>
    </p>
  </div>

  <div class="col-sm-6 col-md-8 article">
    {{about}}
    <div class='clearfix'></div>
  </div>

</div>

<div class="row">
  <div class="col-md-6 article">
    {{faq}}
    <div class='clearfix'></div>
  </div>

  <div class="col-md-6 article" id="policies-link">
    {{policies}}
    <div class='clearfix'></div>
  </div>
</div>

{{PAGE_FOOTER}}

