{{PAGE_HEADER}}

<nav class="breadcrumb-nav">
  <a href="/blog/">&lt; Blog Archive</a>
</nav>

<h1 style="text-align: left" class="shop-page-title">{{BLOG_TITLE}}</h1>

<div class="row">
  <div class="blog-post col-md-8">
    {{BLOG_POST}}
  </div>

  <div class="col-md-4">

    <div class="sidebar-etsy">
      <!--
      <h2 class="text-center">
	<a title="Click to visit my store on Etsy.com"
    href="https://www.etsy.com/shop/patternedpomegranate">
	  My Store
	</a>
      </h2>

      <script type='text/javascript' src='https://www.etsy.com/assets/js/etsy_mini_shop.js'></script>
      <script type='text/javascript'>new Etsy.Mini(5212799,'thumbnail',3,3,0,'https://www.etsy.com');</script>
      -->

      <a href="/"><img class="img-responsive" alt="My Cards and Signs" src="/include/sidebar.png"></a>

    </div>  

  </div>
</div>

{{PAGE_FOOTER}}

