{{PAGE_HEADER}}

<nav class="breadcrumb-nav">
  <a href="/">All Products</a>
  <span class="shop-breadcrumb-separator">&gt;</span>
  {{CATEGORY_NAME}}
</nav>

<h1 class="shop-page-title">{{CATEGORY_NAME}}</h1>
<h2 class="shop-category-subhead">{{CATEGORY_DESCRIPTION}}</h2>

<div id="categoryGallery">
{{GALLERY}}
</div>


{{PAGE_FOOTER}}
