<div class="col-md-4 shop-overview-cell">
  <a href="{{ITEM_PATH}}">
      <{{ITEM_HEADER}}>{{ITEM_NAME}}</{{ITEM_HEADER}}>
      <img class="shop-overview-thumb" src="{{ITEM_THUMB}}">
  </a>
  <!--
  <span class="text-medium">${{ITEM_PRICE}}</span>
  -->
  <div class='clearfix'></div>
</div>

