{{PAGE_HEADER}}

<div class="row">
  <div class="col-md-8 col-md-offset-2 article">
    <h1 class=".text-center">Modern, Simple, Beautiful</h1>
    {{main}}
  </div>
</div>

{{sections}}


{{PAGE_FOOTER}}
