@model IList<ppom.BlogPost>
@{
    ViewBag.Title = "Patterned Pomegranate: Blog Archive";
    ViewBag.PageId = "blogArchivePage";
    Layout = "layout.cshtml";
    var YearGroups = 
        from post in Model 
        group post by post.Year into g
        orderby g.Key descending
        select g ;
}

<h1>Blog Archive</h1>

@foreach (var yearGroup in YearGroups) {

    <h2>@yearGroup.Key</h2>

    <ul>

    @foreach (var post in yearGroup.OrderBy(x => x.Title)) {

        <li>
            <a href="@post.Path">@post.Title</a>
        </li>

    }

    </ul>

}
