@model ppom.BlogArchive
@{
    ViewBag.Title = "Patterned Pomegranate: Blog Archive";
    ViewBag.PageId = "blogArchivePage";
    Layout = "layout.cshtml";
}

<h1 style="text-align: left" class="shop-page-title">Blog Archive</h1>

@foreach (var yearList in Model.years.OrderByDescending(x => x.year)) {

    <h2>@yearList.year</h2>

    <ul>

    @foreach (var post in yearList.posts.OrderBy(x => x.Title)) {

        <li>
            <a href="@post.Path">@post.Title</a>
        </li>

    }

    </ul>

}
