@{
    ViewBag.Title = "Patterned Pomegranate: Page Not Found";
    ViewBag.PageId = "errorPage";
    Layout = "layout.cshtml";
}

<h1>Page Not Found</h1>

@Raw(ViewBag.FileData.GetMarkdownHTML("404-page-text.md"))

