@{
    ViewBag.Title = "Patterned Pomegranate: Page Not Found";
    ViewBag.PageId = "errorPage";
    Layout = "layout.cshtml";
}

<h1>Page Not Found</h1>

<p>Sorry, but that page or item does not exist.</p>
