@{
    ViewBag.Title = "Patterned Pomegranate: Order Receipt";
    ViewBag.PageId = "receiptPage";
    Layout = "layout.cshtml";
}

<h1>Thank you for your order</h1>

@Raw(ViewBag.FileData.GetMarkdownHTML("about/receipt.md"))

<div id="cartEmptyCart"></div>
